* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid {
    margin-block-start: 50px;
    width: 640px;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
    cursor: url('./pencil.png') 0 24, auto;
}

.cell {
    background-color: #f5f5f5;
    border: #d1d5db solid 0.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resize-grid-btn {
    padding: 8px 16px;
    border: 1px solid #94a3b8;
    background-color: #d8efef;
    color: #0f172a;
    border-radius: 10px;
    margin-block-start: 20px;
    cursor: pointer;
}

.resize-grid-btn:hover {
    background-color: #bfe3e3;
    border-color: #64748b;
}
